.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.App-header__link:hover {
    color: gold;
    cursor: pointer;
}
